body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  text-align: center;
}
h1 {
  color: #333;
}
#searchForm {
  margin-bottom: 20px;
}
#searchInput {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  max-width:80%;
}
#searchButton {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}
#searchButton:hover {
  background-color: #218838;
}
#movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#movieList div {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
}
#movieList img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#message {
  font-size: 22px;
  font-weight: bold;
  color: #444;
  margin-bottom: 20px;
  animation: fadeIn 0.5s ease-in-out;

}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}